@import 'mixin.scss';
@import 'utility.scss';
@import 'Navbar.scss';
@import 'Navbar-mobile.scss';
@import 'About.scss';
@import 'Work.scss';

* {
    font-family: Perpetua, serif;
}

.content {
    margin-top: 60px;
    
    @media #{$breakpoint-desktop} {
        margin-left: $global-left;
    }
}

