$breakpoint-mobo: "(max-width: 768px)";
$breakpoint-desktop: "(min-width: 768px)";
$global-left: 10px;

@mixin bp-only($point) {
    @if $point == mobo {
      @media #{$breakpoint-mobo} { 
        display: block;
      }
    }
    @else {
      @media #{$breakpoint-desktop} { 
        display: block;
      }
    }
}