$margin-titles: 15px;

.mobo-nav {
    display:none;
    @include bp-only(mobo, block);
    top: 5px;
    position: relative;
    position: fixed;
    z-index: 2;


    .font-alter {
      font-size: 30px;
      line-height: 15px;
      margin-left: 10px;
    }

    .nav-overlay{
      position: inherit;
      opacity: 0;
      visibility: hidden;
      z-index:2;
      left:0;
      top:0;
      width:100%;
      height: 100%;

      &.open {
        opacity: 1;
        background-color: rgba($color: #000000, $alpha: 0.5);
        visibility: visible;
        transition: opacity 0.2s ease-in;
      }
    }

    .nav-mobile-wrapper {
      position: fixed;
      background-color: white;
      width: 50%;
      height: 100%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      z-index:2;


      .nav-menu{
        position: relative;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        padding: 0;
        text-align: left;
        gap: $margin-titles;

        li {
          margin-left: 10px;
          font-size: 30px;
          line-height: 15px;
        }

        .work-names {
          position: relative;
          margin-top: $margin-titles;
          .font-alter {
            font-size: 25px;
            line-height: 20px;
            letter-spacing: -3px;
            margin-right: 20px;
          }
          &::before {
            content: ''; 
            position: absolute;
            top: 0px; 
            left: 50%;
            transform: translate(-50%, 0); 
            width: 80%;
            height: 1px; /* Thickness of the border */
            border-top: 1px solid black; /* Border style */
            margin-top: -$margin-titles; /* Margin only on the border */
          }          
        }
      }

      &.open {
        opacity: 1;
        background-color: white;
        visibility: visible;
        transition: opacity 0.2s ease-in;
      }
  }
}