.nav-menu {
  list-style-type: none;
  text-align: center; 

  li {
    display: inline-block;
    line-height: 10px;
    overflow: hidden;
    margin-right: 20px; 
    letter-spacing: -2.5px;

    a {
      text-decoration: none; 
      color:black;
    }
  } 

  li:last-child {
    margin-right: 0; 
  }
  
  &.nav-desktop {
    font-size: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    @include bp-only(desktop);
  }
}