.nav-menu {
  list-style-type: none;
  text-align: center; 

  li:last-child {
    margin-right: 0; 
  }
  
  &.nav-desktop {
    font-size: 24px;
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    padding-left: 10px;
    margin: 0;
    @include bp-only(desktop);
  }
}