.work {
    display: flex;
    flex-direction: column;

    .work-names {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;

        .name-item {
            display: block;
            margin-bottom: 10px;
        }
    }

    .info {
        // max-width: 1200px;
        margin-left: auto;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            margin: 0 auto; 
            margin-bottom: 30px;
        }
    }

    .gallery {
        width: 50%;
        // max-width: 1200px;
        margin-left: auto;
        @media (max-width: 768px) {
            margin: 0 auto;
            width: 80%;
        }

        .gallery-image {
            width: 100%;
            margin-bottom: 30px;
        }

        .fade-in {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        
        .fade-in.loaded {
            opacity: 1;
        }
    }    
}