.work {
    display: flex;
    flex-direction: column;

    .work-names {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;

        .name-item {
            display: block;
            margin-bottom: 10px;
        }
    }

    .gallery {
        width: 80%;
        max-width: 1000px;
        margin-left: auto;
        @media (max-width: 768px) {margin: 0 auto;}

        .gallery-image {
            width: 100%;
            margin-bottom: 30px;
        }
    }    
}