.work-names {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    .name-item {
        display: block;
        margin-bottom: 10px;
    }
}

.gallery {
    margin-top: 50px;
    margin-left: -10px;
    .image-wrapper {
        max-width: 650px;
        height: auto;
        margin: 0 auto;
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 66.7%;
        }
    }
    
    .image-wrapper img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}